<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <section class="list">
      <div class="list__controls">
        <h3>Ответы (<%= answers.length %>)</h3>
        <form class="search" method="get" action="/answers">
          <input
            type="text"
            name="search"
            placeholder="Поиск"
            value="<%= typeof search !== 'undefined' ? search : '' %>"
          />
          <button type="submit">Найти</button>
        </form>
        <div class="list__button">
          <a href="/new/answer"><i class="fa-solid fa-file-circle-plus"></i></a>
          <a href="/api/export/answers?search=<%= search %>">
            <i class="fa-solid fa-file-arrow-down"></i
          ></a>
        </div>
      </div>
      <table class="table">
        <tr>
          <th
            class="table__title <%= sortBy === `answer` ? `table__title--selected` : `` %>"
            onclick="redirectToPage(`/answers?search=<%= search %>&sortBy=answer&order=<%= (sortBy === 'answer' && order === 'ASC') ? 'DESC' : 'ASC' %>`)"
          >
            Ответ
          </th>
          <th
            class="table__title <%= sortBy === `modifier.email` ? `table__title--selected` : `` %>"
            onclick="redirectToPage(`/answers?search=<%= search %>&sortBy=modifier.email&order=<%= (sortBy === 'modifier.email' && order === 'ASC') ? 'DESC' : 'ASC' %>`)"
          >
            Изменено
          </th>
          <th
            class="table__title <%= sortBy === `modified_at` ? `table__title--selected` : `` %>"
            onclick="redirectToPage(`/answers?search=<%= search %>&sortBy=modified_at&order=<%= (sortBy === 'modified_at' && order === 'ASC') ? 'DESC' : 'ASC' %>`)"
          >
            Дата изменения
          </th>
          <th
            class="table__title <%= sortBy === `creator.email` ? `table__title--selected` : `` %>"
            onclick="redirectToPage(`/answers?search=<%= search %>&sortBy=creator.email&order=<%= (sortBy === 'creator.email' && order === 'ASC') ? 'DESC' : 'ASC' %>`)"
          >
            Создано
          </th>
          <th
            class="table__title <%= sortBy === `created_at` ? `table__title--selected` : `` %>"
            onclick="redirectToPage(`/answers?search=<%= search %>&sortBy=created_at&order=<%= (sortBy === 'created_at' && order === 'ASC') ? 'DESC' : 'ASC' %>`)"
          >
            Дата создания
          </th>
        </tr>
        <% answers.forEach(answer => { %>
        <tr
          onclick="redirectToPage('/answer/<%= answer.answer_id%>')"
          oncontextmenu="showContextMenu(event, this)"
          data-href="/answer/<%= answer.answer_id%>"
        >
          <td class="table__content"><%= answer.answer %></td>
          <td><%= answer.modifier.email %></td>
          <td class="table__date">
            <%= new Date(answer.modified_at).toLocaleDateString('ru-RU', { day:
            'numeric', month: 'short', year: 'numeric' }) %>
          </td>
          <td><%= answer.creator.email %></td>
          <td class="table__date">
            <%= new Date(answer.created_at).toLocaleDateString('ru-RU', { day:
            'numeric', month: 'short', year: 'numeric' }) %>
          </td>
        </tr>
        <% }) %>
      </table>
    </section>
    <% if (error) { %>
    <div
      id="error_modal"
      class="modal__window"
      onclick="hideModal(error_modal)"
    >
      <div class="modal__content" onclick="event.stopPropagation()">
        <h3><%= error %></h3>

        <div class="modal__controls">
          <a class="modal__button" onclick="hideModal(error_modal)">Ок</a>
        </div>
      </div>
    </div>
    <% } %> <%- include('partials/context-menu') %> <%-
    include('partials/script') %>
    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const error = urlParams.get("error");
      if (error) {
        showModal(error_modal);
      }
    </script>
  </body>
</html>
