<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <section class="home">
      <h3>Моя начальная страница</h3>
      <div class="home__container">
        <% if (user.role === "admin") { %>
        <div
          class="home__item"
          oncontextmenu="showContextMenu(event, this)"
          data-href="/users"
          onclick="redirectToPage('/users')"
        >
          <img src="image/home_item_users.png" alt="users" />
          <h4>Пользователи</h4>
          <p>База пользователей</p>
        </div>
        <% } else {%>
        <div
          class="home__item"
          oncontextmenu="showContextMenu(event, this)"
          data-href="/chat/<%= user.user_id %>"
          onclick="redirectToPage('/chat/<%= user.user_id %>')"
        >
          <img src="image/home_item_query.png" alt="bot" />
          <h4>Чат бот</h4>
          <p>Работа с чат ботом</p>
        </div>
        <% } %> <% if (user.role !== "guest") { %>
        <div
          class="home__item"
          oncontextmenu="showContextMenu(event, this)"
          data-href="/answers"
          onclick="redirectToPage('/answers')"
        >
          <img src="image/home_item_answers.png" alt="faq" />
          <h4>Ответы</h4>
          <p>Список ответов</p>
        </div>
        <div
          class="home__item"
          oncontextmenu="showContextMenu(event, this)"
          data-href="/questions"
          onclick="redirectToPage('/questions')"
        >
          <img src="image/home_item_questions.png" alt="faq" />
          <h4>Вопросы</h4>
          <p>Список вопросов</p>
        </div>

        <div
          class="home__item"
          oncontextmenu="showContextMenu(event, this)"
          data-href="/queries"
          onclick="redirectToPage('/queries')"
        >
          <img src="image/home_item_bot.png" alt="faq" />
          <h4>Запросы</h4>
          <p>Обработка запросов</p>
        </div>
        <% } %>
      </div>
    </section>
    <%- include('partials/context-menu') %> <%- include('partials/script') %>
  </body>
</html>
