<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %> <% if (success) {%>
    <div
      style="
        width: calc(100% - 60px);
        background-color: #18c713;
        padding: 15px 30px;
      "
    >
      <p style="color: #fff; font-weight: bold; user-select: none">
        <%= success %>
      </p>
    </div>

    <% } %>
    <section class="profile">
      <h3>Личная Информация</h3>
      <div class="profile__info">
        <div class="profile__card">
          <p><span>Email:</span> <%= user.email %></p>
          <p><span>Роль:</span> <%= user.role %></p>
          <p>
            <span>Дата регистрации:</span> <%= new
            Date(user.createdAt).toLocaleDateString('ru-RU', { day: 'numeric',
            month: 'short', year: 'numeric' }) %>
          </p>
          <p>
            <span>Дата изменения:</span> <%= new
            Date(user.updatedAt).toLocaleDateString('ru-RU', { day: 'numeric',
            month: 'short', year: 'numeric' }) %>
          </p>
        </div>
        <div class="profile__card">
          <p><span>Создано вопросов:</span> <%= created_question_count %></p>
          <p><span>Создано ответов:</span> <%= created_answer_count %></p>
          <p><span>Изменено вопросов:</span> <%= updated_question_count %></p>
          <p><span>Изменено ответов:</span> <%= updated_answer_count %></p>
        </div>
      </div>
      <% if (currentUser.user_id == user.user_id || currentUser.user_id == 1) {
      %>
      <div class="profile__controls">
        <a
          onclick="showModal(changePassword_modal)"
          class="profile__controls--up"
        >
          Сменить пароль
        </a>

        <% if (currentUser.user_id !== 1) { %>
        <a
          onclick="showModal(deleteUser_modal)"
          class="profile__controls--down"
        >
          Удалить аккаунт
        </a>
        <% } else { %> <% if (user.role == "support") { %>
        <a
          href="#"
          class="profile__controls--down"
          onclick="changeRole(`<%= user.user_id %>`)"
        >
          Понизить Роль
        </a>
        <% } else if (user.role == "guest") { %>
        <a
          href="#"
          class="profile__controls--up"
          onclick="changeRole(`<%= user.user_id %>`)"
        >
          Повысить Роль
        </a>
        <% } %> <% } %>
      </div>
      <% } %>
      <div
        id="deleteUser_modal"
        class="modal__window"
        onclick="hideModal(deleteUser_modal)"
      >
        <div class="modal__content" onclick="event.stopPropagation()">
          <h3>Вы точно хотите удалить свой аккаунт?</h3>
          <div class="modal__controls">
            <a class="modal__button" onclick="deleteUser()">Да</a>
            <a class="modal__button" onclick="hideModal(deleteUser_modal)"
              >Нет</a
            >
          </div>
        </div>
      </div>
      <div
        id="changePassword_modal"
        class="modal__window"
        onclick="hideModal(changePassword_modal)"
      >
        <div class="modal__content" onclick="event.stopPropagation()">
          <form action="/api/changePassword" method="POST" class="modal__form">
            <i
              class="fa-solid fa-xmark"
              onclick="hideModal(changePassword_modal)"
            ></i>
            <legend>Сменить пароль</legend>
            <input type="hidden" name="user_id" value="<%= user.user_id%>" />
            <input
              type="password"
              placeholder="Введите новый пароль"
              name="new_password_1"
            />
            <input
              type="password"
              placeholder="Повторите новый пароль"
              name="new_password_2"
            />
            <% if (error) { %>
            <p style="color: red; font-size: 16px; margin-bottom: 20px">
              <%= error %>
            </p>
            <% } %>
            <button type="submit" class="modal__button">Сохранить</button>
          </form>
        </div>
      </div>
    </section>

    <%- include('partials/script') %>
    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const error = urlParams.get("error");
      if (error) {
        showModal(changePassword_modal);
      }
    </script>
  </body>
</html>
